#wrapper
  &.admin
    width: 90% !important
    margin-top: 40px
  #post-wrapper
    overflow: hidden
    .post-preview
      h2
        color: red
      float: left
      width: 420px
      h2
        margin: 0
        pandding: 0
    #post-form
      width: 560px
      float:  right
      margin-right: 20px
    form
      input[type="text"]
        width: 100%
        border: 1px #999 solid
        color: #666
        font-size:  1.3em
        line-height: 15px
      input[type="submit"]
        font-size: 18px
        border: 0
        background-color: #333
        color: #FFF
        text-shadow: 0 1px 0 #222
        font-weight: bold
        cursor: pointer
        -moz-border-radius: 5px
        -webkit-border-radius: 5px
        margin: 0 0 15px 0