.post
  margin-bottom: 50px
  h2.post_header
    margin-top: 10px !important
    a
      text-decoration: none
      color: #00ADEC
      &:hover
        text-decoration: underline
    span.date
      font-size: 12pt
      color: #CCC
    span.author
      color: $green
      font-size: 12pt
    
.meta
  ul
    margin: 0
    padding: 0
    list-style: none
    overflow: hidden
  li
    float: left
    margin-right: 5px
.entrybody
  margin-top: 1em

.share
  margin: -40px 0 20px 0
  padding: 10px 15px 30px 15px
  background: #FFE8D9
  border-top: 1px solid #F78800
  .subscribe
    margin-bottom: 7px
    a
      color: #F78800
      font-weight: bold