#main
  .post
    margin: 5px 0
    h2.post_header
      a
        text-decoration: none
        color: #333
      span.date
        font-size: 12pt
        color: #CCC
      span.author
        color: $green
        font-size: 12pt
        
      
  .meta
    border-top: 1px dotted #999
    margin-top: 3px
    ul
      margin: 0
      padding: 0
      list-style: none
      overflow: hidden
    li
      float: left
      margin-right: 5px