html {
  font-family: "Lucida Grande", Verdana, sans-serif;
  line-height: 23px;
  color: #333333;
  background-color: white;
  font-size: 13px; }

body {
  -webkit-font-smoothing: antialiased; }

@media only screen and (max-device-width: 480px) {
  body {
    -webkit-font-smoothing: antialiased; } }
kbd, code, tt {
  font: normal 12px/16px "Monaco", "Courier New", Courier, monospace; }

* {
  margin: 0; }

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white; }
  html a, body a {
    color: black; }

h2, header {
  color: #333333;
  margin: 15px 0;
  font-size: 20px;
  font-weight: bold; }

#master {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -80px; }

#header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999; }
  #header #header-wrapper {
    display: none;
    margin: 0 auto;
    width: 500px;
    font-size: 10pt; }
  #header #top {
    -webkit-box-shadow: 1px 1px 5px black;
    min-height: 5px;
    background-color: #afce41; }

#wrapper {
  margin: 10px auto;
  width: 900px; }

#flash_notice {
  padding: 10px;
  text-align: center;
  font-size: 15pt; }

#navigation {
  background: #afce41; }
  #navigation menu {
    margin: 0 auto;
    width: 900px;
    padding: 0;
    list-style: none;
    overflow: hidden;
    height: 50px;
    line-height: 50px; }
    #navigation menu li {
      float: left;
      margin: 0 5px; }
      #navigation menu li:last-child {
        margin-right: 0; }
      #navigation menu li a {
        padding: 8px;
        color: white;
        font-family: Georgia, Garamond, "Liberation Serif", serif;
        font-weight: bold;
        font-style: italic;
        font-size: 13pt;
        text-decoration: none;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px; }
        #navigation menu li a:hover {
          background: #204052; }

#admin_navigation {
  background: #333333; }
  #admin_navigation menu {
    padding: 0;
    list-style: none;
    overflow: hidden;
    height: 35px;
    line-height: 35px; }
    #admin_navigation menu li {
      float: left;
      margin: 0 10px; }
      #admin_navigation menu li:last-child {
        margin-right: 0; }
      #admin_navigation menu li a {
        color: white;
        font-size: 11pt;
        text-decoration: none; }

#wrapper {
  overflow: hidden; }
  #wrapper #side {
    float: left;
    width: 250px;
    color: #777777; }
    #wrapper #side #title {
      color: #00adec; }
  #wrapper #content {
    width: 600px;
    overflow: hidden;
    margin-right: 50px;
    float: left; }
    #wrapper #content strong {
      color: #afce41; }
    #wrapper #content h3 {
      font-size: 18pt;
      font-weight: normal;
      text-shadow: 1px 1px 1px #cccccc;
      margin: 10px; }
    #wrapper #content .box {
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background-color: #f5f5f5;
      padding: 10px;
      overflow: hidden;
      margin: 0 0 40px 0; }

#new_blog {
  display: block;
  top: 50px;
  left: 50px;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  width: 530px;
  height: 350px;
  padding: 15px; }
  #new_blog .inner {
    width: 500px;
    height: 330px; }
    #new_blog .inner h2 {
      color: #00adec;
      text-shadow: none;
      text-align: center; }
    #new_blog .inner .description {
      border-bottom: 1px solid #888888; }
    #new_blog .inner form {
      padding: 0;
      margin: 0;
      background: none;
      border: none; }
      #new_blog .inner form textarea {
        height: 100px;
        vertical-align: top; }
      #new_blog .inner form input, #new_blog .inner form textarea {
        margin: 0;
        margin: 5px; }
      #new_blog .inner form label {
        color: white;
        display: inline-block;
        width: 100px; }
      #new_blog .inner form label.fork_me {
        width: 300px; }

@font-face {
  font-family: Collegia;
  src: url(/fonts/Collegia.ttf); }

#fork-ribbon-holder {
  height: 11em;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0; }
  #fork-ribbon-holder .ribbon {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-box-shadow: #888888 0px 0px 17px;
    font-family: Collegia, sans-serif;
    background: #121621;
    color: white;
    display: block;
    font-size: 11pt;
    letter-spacing: -0.1px;
    line-height: 1.35em;
    opacity: 0.95;
    padding: 0.25em 0px;
    position: relative;
    top: 3em;
    right: -2.5em;
    text-decoration: none; }
    #fork-ribbon-holder .ribbon span {
      border: 1px solid #53565e;
      padding: 0.1em 3em; }

a#fork_me {
  background: #00adec;
  position: fixed;
  right: 0;
  top: 30%;
  bottom: 50%;
  -webkit-box-shadow: 1px 1px 7px #222222;
  -moz-box-shadow: 1px 1px 7px #222222;
  -webkit-border-left-top-radius: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-left-radius: 10px;
  -webkit-border-left-bottom-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-left-radius: 10px;
  padding: 10px 15px 10px 15px;
  margin-right: -10px;
  height: 50px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 15px; }
  a#fork_me div.github {
    font-size: 29px; }

.post {
  margin-bottom: 50px;
  border-bottom: 1px dotted #cccccc; }
  .post h2.post_header {
    margin-top: 10px !important; }
    .post h2.post_header a {
      text-decoration: none;
      color: #00adec; }
      .post h2.post_header a:hover {
        text-decoration: underline; }
    .post h2.post_header span.date {
      font-size: 12pt;
      color: #cccccc; }
    .post h2.post_header span.author {
      color: #afce41;
      font-size: 12pt; }
  .post p {
    padding: 5px 0; }

.meta ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden; }
.meta li {
  float: left;
  margin-right: 5px; }

.entrybody {
  margin-top: 1em; }
  .entrybody h2 {
    margin: 15px 0 5px 0; }

.share {
  margin: -40px 0 20px 0;
  padding: 10px 15px 30px 15px;
  background: #ffe8d9;
  border-top: 1px solid #f78800; }
  .share .subscribe {
    margin-bottom: 7px; }
    .share .subscribe a {
      color: #f78800;
      font-weight: bold; }

#save_handle {
  display: none;
  position: fixed;
  bottom: 0;
  left: 40%;
  right: 50%;
  width: 150px;
  background: #333333;
  -webkit-border-right-top-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  -webkit-border-left-top-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  padding: 10px;
  text-align: center; }
  #save_handle a {
    color: white;
    padding-left: 20px;
    font-weight: bold; }
  #save_handle a.save {
    float: left;
    background: url(/images/save.png) no-repeat left; }
  #save_handle a.cancel {
    float: right;
    background: url(/images/cancel.png) no-repeat left; }

.window {
  display: none;
  position: fixed;
  top: 35%;
  left: 35%;
  right: 50%;
  bottom: 50%;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  width: 300px;
  height: 170px;
  padding: 15px; }
  .window .inner {
    background: #444444;
    padding: 10px 15px;
    height: 150px;
    text-shadow: 1px 1px 1px #777777; }
    .window .inner .buttons {
      line-height: 50px;
      text-align: right;
      position: absolute;
      bottom: 10px;
      right: 20px; }
      .window .inner .buttons a {
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        background: #333333;
        padding: 5px 10px;
        font-size: 14px;
        font-weight: bold;
        color: white;
        margin: 0 5px;
        text-decoration: none; }
    .window .inner h2 {
      margin: 0;
      color: white; }

.session {
  background: #203042; }
  .session #wrapper {
    margin: 0 auto;
    width: 500px; }
    .session #wrapper #login-wrap {
      margin: 50px auto 0 auto;
      width: 400px;
      margin-top: 50px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      border: 10px solid #cccccc; }
      .session #wrapper #login-wrap #login {
        background: white;
        padding: 10px; }
        .session #wrapper #login-wrap #login h2 {
          margin: 0; }
        .session #wrapper #login-wrap #login a {
          color: #00adec; }
    .session #wrapper form {
      background: white;
      border: none;
      width: auto;
      border-bottom: 1px solid #cccccc; }
      .session #wrapper form label {
        display: inline-block;
        width: 100px; }
      .session #wrapper form input[type="text"], .session #wrapper form input[type="password"], .session #wrapper form input[type="email"] {
        margin: 10px;
        width: 200px;
        font-size: 18px; }
      .session #wrapper form input[type="checkbox"], .session #wrapper form input[type="submit"] {
        margin-left: 110px; }
      .session #wrapper form input[type="submit"] {
        margin-top: 20px; }

ol.commentlist {
  margin: 0;
  padding: 0; }
  ol.commentlist li {
    overflow: hidden;
    padding: 10px; }
    ol.commentlist li .info {
      float: left;
      width: 140px;
      padding-left: 20px;
      background: url(/images/comment_user.png) no-repeat top left;
      font-size: 8pt; }
      ol.commentlist li .info h3 {
        padding: 0 !important;
        margin: 0 !important;
        font-size: 11pt !important;
        line-height: 10px; }
    ol.commentlist li .comment_body {
      margin-left: 20px;
      float: left; }
  ol.commentlist li:nth-child(2n+1) {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    background: #eeeeee; }

form {
  padding: 10px;
  width: 400px;
  background: #d2d2d2;
  border-top: 1px solid #aaaaaa; }
  form label {
    display: block;
    font-weight: bold;
    color: #333333; }
  form input, form textarea {
    margin-left: 20px; }
  form input[type="text"], form input[type="password"], form input[type="email"] {
    font-size: 1.3em; }
  form input[type="text"], form input[type="email"], form input[type="password"], form textarea {
    border: 1px #999999 solid;
    color: #666666;
    line-height: 15px;
    width: 350px; }
  form input[type="submit"] {
    font-size: 18px;
    border: 0;
    background-color: #333333;
    color: white;
    text-shadow: 0 1px 0 #222222;
    cursor: pointer;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; }
  form span.hint {
    font-style: italic;
    font-siz: 10px; }

table {
  margin: 20px 0;
  border-collapse: collapse;
  width: 100%;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #cccccc; }
  table td {
    padding: 3px 10px;
    height: 60px; }
  table tr {
    border-bottom: 1px solid #cccccc;
    vertical-align: top; }
  table tr:first-child {
    background: #cccccc; }
    table tr:first-child th {
      color: white;
      text-shadow: 1px 0px 1px #333333;
      height: 30px;
      text-align: left;
      padding: 5px 10px; }
    table tr:first-child th.title {
      width: 250px; }
    table tr:first-child th.tags {
      width: 120px; }
    table tr:first-child th:first-child {
      -webkit-border-left-top-radius: 10px;
      -moz-border-radius-topleft: 10px;
      border-top-left-radius: 10px; }
    table tr:first-child th:last-child {
      -webkit-border-right-top-radius: 10px;
      -moz-border-radius-topright: 10px;
      border-top-right-radius: 10px; }

.push {
  height: 80px; }

#footer {
  height: 80px;
  line-height: 80px;
  padding: 0 20px;
  background: #2d2d2d;
  font-size: 12px;
  color: white;
  font-weight: bold; }
  #footer a, #footer a:visited, #footer a:hover {
    color: white;
    text-decoration: none; }

pre code {
  font-family: Monaco, "Courier New", Courier, monospace;
  font-size: 12px;
  line-height: 16px;
  padding: 1em 1.5em;
  margin: 1em 2em 1em 2em;
  display: block;
  background: #eeeeee;
  border: 1px solid #cccccc;
  color: black;
  white-space: pre-wrap; }
pre .shebang, pre .comment, pre .template_comment, pre .javadoc {
  color: #0082f7;
  font-style: italic; }
pre .keyword, pre .tag, pre .ruby .function .keyword, pre .tex .command {
  color: #1c39f6; }
pre .function .keyword, pre .sub .keyword, pre .method, pre .list .title {
  color: #ffffb6; }
pre .string, pre .attribute .value, pre .cdata, pre .filter .argument, pre .attr_selector, pre .apache .cbracket, pre .date {
  color: #00a650; }
pre .subst {
  color: #daefa3; }
pre .regexp {
  color: #e9c062; }
pre .function .title, pre .sub .identifier, pre .pi, pre .decorator, pre .ini .title, pre .tex .special {
  color: #ff9230; }
pre .class .title, pre .smalltalk .class, pre .javadoctag, pre .yardoctag, pre .phpdoc, pre .nginx .built_in, pre .inheritance {
  color: black;
  text-decoration: underline; }
pre .constant {
  color: #7998d7; }
pre .symbol, pre .ruby .symbol .string, pre .ruby .symbol .keyword, pre .ruby .symbol .keymethods, pre .number, pre .variable, pre .vbscript, pre .literal {
  color: #7998d7; }
pre .css .keyword {
  color: #96cbfe; }
pre .css .rule .keyword, pre .css .id {
  color: #ffffb6; }
pre .css .class {
  color: white; }
pre .hexcolor {
  color: #c6c5fe; }
pre .number {
  color: #ff73fd; }
pre .tex .formula {
  opacity: 0.7; }
