.push
  height: 20px
  
#footer
  a, a:visited, a:hover
    color: #FFF
    text-decoration: none
    
  min-height: 20px
  background: #2d2d2d
  padding: 30px
  font-size: 12px
  color: #FFF
  font-weight: bold