html
  font-family: Arial, Helvetica, Verdana, sans-serif
  line-height: 1.7
  color: #343434
  background-color: #fff

body
  -webkit-font-smoothing: antialiased
  
@media only screen and (max-device-width: 480px) 
  body
    -webkit-font-smoothing: antialiased
